:root {
    --main-color: #0078ff;
}
/* ====== Start Back Up ====== */
.back-up {
    position: fixed;
    z-index: 1090;
    right: 15px;
    bottom: 15px;
    width: 35px;
    height: 35px;
    font-size: 23px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    display: none;
    animation: show 0.6s;
    i {
        color: #fff;
    }
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* ====== End Back Up ====== */
/* ====== Start Header ====== */
.header-main {
    background: linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.3)) , url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.navbar {
    position: static;
}
.navbar.light-animation {
    position: fixed;
    background-color: #222;
    transition: background-color 0.3s;
}
.navbar .navbar-nav .nav-item a {
    color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item a:hover {
    color: var(--main-color);
}
.navbar .navbar-nav .nav-item {
    position: relative;
}
header .content > .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
header .content h2 {
    font-size: 60px ;
}
header .content p {
    position: relative;
    font-size: 40px;
}
header .content p::after {
    content: "";
    animation-name: malaga;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/* ====== End Header ====== */
/* ====== Start About ====== */
.about .head > h2{
    position: relative;
    margin-bottom: 20px;
}
.about .head > h2::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: var(--main-color);
    bottom: -15px;
    left: 0;
}
.about p {
    margin-bottom: 0.5rem;
}
.about .progress {
    padding-left: 0;
    padding-right: 0;
    width: 95%;
    margin-left: calc(var(--bs-gutter-x)* .5);
    margin-bottom: 0.5rem;
}
/* ====== End About ====== */
/* ====== Start Component ====== */
.component {
    text-align: center;
}
.component .main-heading {
    font-size: 50px;
}
.component .content-heading::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 100px;
    height: 4px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
/* ====== End Component ====== */
/* ====== Start Services ====== */
.services {
    padding: 50px 0;
}
.services .box i {
    background-color: #fff;
    color: black;
    font-size: 30px;
    width: 2.5cm;
    height: 2.5cm;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    border: 10px solid var(--main-color);
    transition: 0.3s;
}
.services .box:hover i {
    color: #fff;
    background-color: var(--main-color);
    border-color: #ffffff52;
}
/* ====== End Services ====== */
/* ====== Start Counter ====== */
.counter {
    background: linear-gradient(rgba(4, 78, 196, 0.68) , rgba(4, 78, 196, 0.68)) , url(../images/post-3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    margin-bottom: 50px;
}
.counter .item i {
    background-color: var(--main-color);
    color: #fff;
    font-size: 30px;
    width: 2.5cm;
    height: 2.5cm;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #fff;
}
/* ====== End Counter ====== */
/* ====== Start Portfolio ====== */
.portfolio .box {
    box-shadow: 0 0 10px #00000020;
}
.portfolio .box img {
    transition: 0.5s;
}
.portfolio .box:hover img {
    transform: scale(1.2);
}
.portfolio .box .content {
    padding: 15px;
}
.portfolio .box .content h2 {
    font-size: 20px;
}
.portfolio .box .content p span:first-of-type {
    color: var(--main-color);
}
.portfolio .box .content p span:last-of-type {
    color: #777;
}
.portfolio .box .content i {
    padding: 10px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    font-size: 25px;
    cursor: pointer;
}
/* ====== End Portfolio ======  ======*/
/* ====== Start Carousel ====== */
.carousel-bar.slider11 {
    background: linear-gradient(rgba(4, 78, 196, 0.68) , rgba(4, 78, 196, 0.68)) , url(../images/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
}
.carousel-bar.slider11 .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #eee;
}
/* ====== End Carousel ====== */
/* ====== Start Blog ====== */
.blog .btn {
    background-color: var(--main-color);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}
.blog .content .left img {
    width: 1cm;
}
/* ====== End Blog ====== */
/* ====== Start Contact ====== */
.contact {
    background: linear-gradient(rgba(4, 78, 196, 0.68) , rgba(4, 78, 196, 0.68)) , url(../images/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.contact .box {
    height: 553px;
}
.contact .box > h2{
    position: relative;
    margin-bottom: 20px;
}
.contact .box > h2::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: var(--main-color);
    bottom: -15px;
    left: 0;
}
.contact textarea {
    height: 4cm;
    border-radius: 0;
    resize: none;
}
.contact input {
    border-radius: 0;
}
.contact ul li i {
    color: var(--main-color);
    font-size: 20px;
}
.contact .icons i {
    font-size: 30px;
    margin-right: 15px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    width: 1.35cm;
    height: 1.35cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.3s;
}
.contact .icons i:hover {
    color: var(--main-color);
}
@media (max-width:1200px) {
    .contact .box {
        height: auto;
    }    
    .contact .items {
        flex-direction: column;
    }
    .contact .items .left {
        width: 100% !important;
    }
    .contact .items .right {
        width: 100% !important;
    }
}
/* ====== End Contact ====== */
/* ====== Start Copyright ====== */
.copyright {
    background-color: var(--main-color);
    box-shadow: 0 0 10px #00000020;
}
/* ====== End Copyright ====== */